body {
color: #777;
background: #777;
width: 960px;
font-size: 18px;
text-align: center;
margin: auto;
}

.container {
    margin: auto;
    max-width: 500px;
}


.Header {
  margin: auto;
  background: #ebebeb;
  text-align: center;
  border: solid;
  padding: 26px;
}

.Nav {
  margin: auto;
  background: #ebebeb;
  text-align: center;
  border: solid;
  padding: 26px;

}

.mid-section {
    
    
    background: #ebebeb;
    text-align: center;
    border: solid;
    width: 493px;
    margin: auto;
    height: 150px;
    padding: 10px 0px 2px 0px;
    font-size: 18px;
   
      
      
}

h1 {
    font-size: 18px;
}



.section {
    color: #ebebeb;
    background: #777;
    padding: 10%;
    margin: 30px;
    text-align: center;
    height: 45px;
    position: relative;
    display: inline-block;
    float: left;
}

.h1 {
    background: #ebebeb;
    text-align: center;
    border: solid;
    color: #777;
}

p {
    background: #ebebeb;
    text-align: center;
    border: solid;
    color: #777; 
    margin-bottom: auto; 
    
}

.mid-section {
    width: 493px;
    border: 1px solid red;
    margin: 0 auto;
    text-align: center;
    height: 220px;
    display: inline-block;
}
.aside {
    background: #ebebeb;
    text-align: center;
    margin-right: 10px;
    margin-top: -175px;
    border: solid;
    width: 180px;
    height: 149px;
    position: relative;
    display: inline-block;
    float: right;
    clear: both;
    
}

footer {
    margin: auto;
    background: #ebebeb;
    text-align: center;
    border: solid;
    padding: 26px;  
}
